:root {
    --logo-color:black;
    --text-color:#a3a5a8;
    --background-color:#efeffa; 
    --accent-color:#a3a5a8;
    --hover-color:#a3a5a8;
    --toggle-color:#c0c0c0;
}

body {
    margin:0;
    font-family: 'Source Sans Pro';
}

a{
    text-decoration:none;
    color:var(--logo-color);
}

.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding:8px 1px;
}

.navbar_logo{
    font-size:24px;
    padding:12px 12px;
}

.navbar_logo i{
    color:var(--logo-color);
}

.navbar_menu{
    display:flex;
    list-style: none;
    padding-left: 0;
}

.navbar_menu li {
    padding: 8px 12px;
}

.navbar_menu li:hover{
    background-color: var(--hover-color);
    border-radius:4px;
}

.navbar_icons{
    list-style:none;
    padding: 8px 12px;
    display:flex;
    padding-left:0;
}

.navbar_icons li {
    padding: 8px 12px;
}

.navbar_icons li:hover {
    background-color: var(--hover-color);
    border-radius:4px;
}

.navbar_toogleBtn{
    display:none;
    position:absolute;
    right:32px;
    font-size:24px;
    color : var(--toggle-color);
}

@media screen and (max-width:768px){
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar_menu {
        display:none;
        flex-direction: column;
        align-items: center;
        width : 100%;
    }
    .navbar_logo {
        padding: 10px 12px;
    }
    .navbar_menu li {
        width: 100%;
        text-align:center;
    }

    .navbar_icons {
        display:none;
        justify-content:center;
        width : 100%;
    }
    .navbar_toogleBtn{
        display: block;
        padding: 8px 12px;
    }

    .navbar_menu.active,
    .navbar_icons.active {
        display:flex;
    }
}