html,
body {
    margin: 0;
    font-family: 맑은고딕, malgun gothic, AppleGothic;
}

a {
    color: #000;
}

.gnb-temp {
    background: url('../img/gnb_temp.png');
    background-position: center;
    height: 198px;
    width: 100%;
}

.gnb-temp.is-970 {
    width: 970px;
    margin: 0 auto;
    background-size: 304%;
    height: 170px;
}

.footer-temp {
    text-align: center;
}


.pcast * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pcast {
    position: relative;
    width: 1100px;
    margin: 20px auto 0;
    display: table;
}

.pcast-main-body,
.pcast-sub-body {
    display: table-cell;
    vertical-align: top;
    width: 760px;
    font-size: 12px;
}

.pcast-main-right {
    display: table-cell;
    width: 340px;
    font-size: 0;
    border-left: 1px solid #ededed;
}



/* pcast main body */
.pcast .pcast-main-body .pic-big {
    width: 730px;
}

.pcast .pic-big>ul {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.pcast .pic-big>ul>li {
    position: relative;
    display: table-cell;
    vertical-align: top;
}

.pcast .pic-big>ul>li img {
    width: 100%;
    font-size: 0;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.pcast .pic-big a {
    display: block;
    overflow: hidden;
    height: 198px;
}

.pcast .pic-big a:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.pcast .pic-big>ul>li .title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    text-shadow: 2px 2px 4px #000;
    z-index: 1;
    letter-spacing: -1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    text-align: center;
}

.pcast .pic-big>ul>li .bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: black;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.pcast .pic-small {
    padding-right: 30px;
}

.pcast .pic-small>ul {
    margin-top: 10px;
    font-size: 0;
}

.pcast .pic-small>ul>li {
    display: inline-block;
    width: 175px;
    margin-right: 10px;
    font-size: 12px;
    vertical-align: top;
    border: 1px solid #e9e9e9;
}

.pcast .pic-small>ul>li:last-of-type {
    margin-right: 0;
}

.pcast .pic-small>ul>li img {
    width: 100%;
    font-size: 0;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.pcast .pic-small a {
    display: block;
}

.pcast .pic-small a:hover span.title {
    color: #2768cb !important;
    text-decoration: underline;
}

.pcast .pic-small .img-wrap {
    overflow: hidden;
    height: 110px;
}

.pcast .pic-small a:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.pcast .pic-small>ul>li .title {
    margin: 10px;
    line-height: 1.5em;
    max-height: 3em;
    display: block;
    height: 52px;
    overflow: hidden;
    text-align: center;
    color: #333;
}

.pcast .pic-small>ul>li>a:hover {
    text-decoration: none !important;
}

.pcast .pic-small>ul>li>a:hover .title {
    color: #000;
}






/* article */
.article.is-5n>ul>li:nth-child(5n)::after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #eee;
    margin: 20px 0;
}

.article.is-5n>ul>li:last-of-type::after {
    display: none;
}

.tabs {
    display: table;
    width: 100%;
    table-layout: fixed;
    border: 1px solid #e0e0e0;
    border-bottom: 0;
    margin-bottom: 20px;
}

.tabs li {
    display: table-cell;
    background-color: #f4f4f4;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    font-size: 11px !important;
    color: #999;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.tabs li:last-of-type {
    border-right: none;
}

.tabs li.is-active {
    background-color: #fff;
    border-bottom: none;
    color: #333;
    font-weight: 600;
}

ul.list-style-rank li {
    padding-left: 10px;
}

/* pcast main body */
.pcast-main-body .top li {
    display: inline-block;
}

.pcast .pcast-main-body .article-list {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ededed;
    overflow: hidden;
}

.pcast .pcast-sub-body .article-list {
    margin-bottom: 30px;
    overflow: hidden;
}

.pcast .article {
    float: left;
    margin-bottom: 30px;
}

.pcast .pcast-main-body .article,
.pcast .pcast-sub-body .article {
    width: 350px;
    margin-right: 30px;
}

.pcast .pcast-main-body .article-bordered,
.pcast .pcast-sub-body .article-bordered {
    width: 365px;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    min-height: 295px;
}

.pcast .pcast-main-body .article-bordered:nth-of-type(2n),
.pcast .pcast-sub-body .article-bordered:nth-of-type(2n) {
    border-left: 0;
}

.pcast .pcast-main-body .article-bordered:nth-of-type(3),
.pcast .pcast-main-body .article-bordered:nth-of-type(4),
.pcast .pcast-sub-body .article-bordered:nth-of-type(3),
.pcast .pcast-sub-body .article-bordered:nth-of-type(4) {
    border-top: 0;
}

.pcast .article:nth-of-type(4) {
    margin-bottom: 0;
}

.pcast .pcast-main-body .article-bordered h2,
.pcast .pcast-sub-body .article-bordered h2 {
    border-top: 2px solid #000;
    border-bottom: 1px solid #eee;
    padding: 12px 20px 12px;
    background-color: #fafafa;
}

.pcast .pcast-main-body .article-bordered h2 a,
.pcast .pcast-sub-body .article-bordered h2 a {
    font-size: 12px;
    position: absolute;
    right: 20px;
    font-weight: normal;
    color: #555;
}

.pcast .pcast-main-body .article-bordered ul,
.pcast .pcast-sub-body .article-bordered ul {
    padding: 0 30px;
}

.pcast .article-list-top h2 {
    border-color: #2501c7;
    background-color: #5078d0 !important;
    color: #fff !important;
}

.pcast .article-list-top h2 a {
    color: #fff !important;
}


.pcast .article h2 {
    position: relative;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: #000;
    margin-bottom: 15px;
}

.pcast .button-more {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: normal;
    font-size: 11px;
    border: 1px solid #ccc;
    line-height: 1;
    padding: 3px 3px 2px;
    color: #999;
    text-decoration: none;
}

.pcast .button-more:hover {
    color: #000;
    border-color: #000;
}

.pcast .article ol {
    margin-left: 20px;
}

.pcast .article li {
    font-size: 12px;
    margin: 4px 0;
    line-height: 1.4em;
    overflow: hidden;
}

.pcast .article li .rank {
    display: inline-block;
    width: 15px;
    margin-right: 8px;
    text-align: center;
    font-weight: 600;
    color: #2768cb;
    vertical-align: middle;
}

.article-list-top .rank {
    font-family: tahoma;
    font-size: 14px !important;
}

.pcast .article li a {
    display: inline-block;
    vertical-align: middle;
    max-width: 270px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
}

.pcast .article li a:hover {
    color: #2768cb;
}

.pcast .article li em {
    margin-left: 3px;
    color: #2768cb;
    vertical-align: middle;
    font-family: tahoma;
    font-weight: 600;
    font-size: 11px;
}


.pcast-main-body .article-list .article li,
.pcast-sub-body .article-list .article li {
    position: relative;
    margin: 4px 0;
    padding-left: 8px;
}

.pcast-main-body .article-list .article li::before,
.pcast-sub-body .article-list:not(.article-list-top) .article li::before {
    display: inline-block;
    content: "·";
    font-weight: 600;
    position: absolute;
    left: 0;
}


.article-list-top ul {
    padding: 0 15px !important;
}





/* pcast-main-right */
.pcast-main-right {
    padding: 0 0 30px 30px;
}

.pcast-main-right .article {
    border-top: 2px solid #2768cb;
    padding-top: 20px;
    width: 309px;
}

.pcast-main-right .article ul:not(.tabs) li {
    padding-left: 0;
}

.pcast-main-right .article li a {
    max-width: 220px;
}

ul.list-style-dot li a {
    max-width: 260px !important;
}

ul.list-style-dot li a::before {
    display: inline-block;
    content: "·";
    font-weight: 600;
    margin-right: 5px;
    padding-left: 15px;
    left: 0;
}

.pcast-main-right .article:first-child {
    margin-bottom: 15px;
}

.pcast-main-right .article:first-of-type {
    background-color: #f1f6f9;
    padding: 10px 15px 15px;
}

.pcast-main-right .article:first-of-type h2 {
    text-align: center;
    font-size: 18px;
    color: #2768cb;
    padding: 5px 0 0;
    letter-spacing: -1px;
}
.pcast-main-right .article:first-of-type li {
    line-height: 20px;
}
.pcast-main-right .article:first-of-type li .rank {
    background-color: #2768cb;
    color: #fff;
    font-size: 11px;
    line-height: 18px;
    width: 18px;
    height: 18px;
    margin-right: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}



/* board */
.pcast .board-list {
    padding-right: 30px;
    margin-bottom: 30px;
}

.pcast .board-list.bottom-list {
    margin-top: 30px;
    margin-bottom: 80px;
}

.pcast .board-info,
.pcast .board-detail-info {
    position: relative;
    margin-top: 30px;
    margin-bottom: 15px;
}

.pcast .board-info h2 {
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
}

.pcast .board-info h2+span {
    margin-left: 10px;
    font-size: 14px;
    color: #999;
}

.pcast .board-detail {
    padding: 0 30px 0 0 !important;
}

.pcast .board-detail-info {
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    margin-top: 10px !important;
}

.pcast .board-detail-info h2 {
    font-size: 23px;
    margin-bottom: 15px;
}

.pcast .board-detail-info ul li {
    display: inline-block;
    margin-right: 10px;
    color: #999;
    font-size: 13px;
}

.pcast .board-detail-info ul li b {
    color: #333;
    font-weight: normal;
}

.pcast .board-detail-info .buttons {
    position: absolute;
    right: 0;
    bottom: 25px;
}

.pcast .board-detail-content {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    padding: 20px 0;
    width: 730px;
}

.pcast .board-detail-content p {
    margin: 20px 0;
}

.pcast .board-detail-content img {
    max-width: 100%;
    height: auto;
    margin: 30px 0;
}

.pcast .board-detail-content .button-good {
    width: 106px;
    margin: 0 auto;
}


.pcast .button {
    display: inline-block;
    line-height: 1;
    background-color: #333;
    color: #fff;
    padding: 7px 15px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    text-decoration: none;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.pcast .button:hover {
    background-color: #2768cb;
}

.pcast .board-info .button {
    position: absolute;
    right: 0;
    bottom: 0;
}

.pcast table {
    text-align: center;
    border-collapse: collapse;
}

.pcast table th {
    font-size: 11px;
    background-color: #f3f3f3;
    padding: 7px;
    font-weight: normal;
    color: #aaa;
    border-top: 2px solid #000;
}

.pcast table tr:hover {
    background-color: #f9f9f9;
}

.pcast table td {
    border-bottom: 1px solid #ebebeb;
    color: #777;
}

.pcast table td .notice {
    background-color: #ff3860;
    color: #fff;
    font-size: 11px;
    padding: 3px 5px;
    line-height: 1;
    margin-right: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.pcast table td.num {
    color: #aaa;
}

.pcast table td.title {
    text-align: left;
    color: #000;
}

.pcast table td.title a {
    display: inline-block;
    cursor: pointer;
    padding: 11px 0;
}

.pcast table td.title a:hover {
    /* font-weight: 600; */
    color: #2768cb;
}

.pcast table td.title .view {
    color: #2768cb;
    font-family: tahoma;
    font-weight: 600 !important;
    font-size: 11px;
}

.pcast table td.writer {
    color: #333;
    max-width: 90px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pcast .board-bottom {
    position: relative;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pcast .board-pagination {
    display: flex;
    justify-content: center;
}

.pcast .board-pagination>a.page-num {
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    border-right: 0;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
}

.pcast .board-pagination>a.page-num:last-of-type {
    border-right: 1px solid #eee;
}

.pcast .board-pagination>a.page-num.is-active {
    background-color: #333;
    color: #fff;
}

.pcast .board-pagination>a.page-prev,
.pcast .board-pagination>a.page-next {
    width: 55px;
}

.pcast .board-bottom .button {
    position: absolute;
    bottom: 3px;
    right: 0;
}

.pcast .board-search {
    background-color: #f7f7f7;
    border: 1px solid #dfdfdf;
    padding: 15px;
    text-align: center;
}

.pcast .board-search label input {
    vertical-align: middle;
    font-size: 0;
}

.pcast .board-search label {
    margin-right: 10px;
}

.pcast .board-search label span {
    font-size: 12px;
    vertical-align: middle;
}

.pcast .board-search input[type=text] {
    width: 200px;
    border: 1px solid #ccc;
    height: 26px;
    padding: 0 5px;
}

.pcast .board-search input[type=text]::placeholder {
    color: #ccc;
}

.view_tip {
    position: relative;
    height: auto;
    padding: 10px 0;
}

.view_tip .btnset a {
    border: 0;
    height: auto;
}

.view_tip .btnset {
    position: absolute;
    top: 7px;
}

.view_tip+.buttons {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
}

.board-bottom+.buttons {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
}

.board_reply {
    padding: 0;
    width: 760px;
    margin-right: -30px;
}

.board_reply .btn_write {
    width: 85px;
    height: 75px;
    background-color: #252B36;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    line-height: 75px;
    text-decoration: none;
}

.board_reply .reply_write .author_info em {
    height: 30px;
    line-height: 30px;
}

.board_reply .reply_write .author_info .input_text {
    height: 30px;
    padding: 0 8px;
    font-size: 13px;
    margin-left: 5px;
    border: 1px solid #ddd;
}

.board_reply .reply_write .author_info .login_icon {
    margin-top: 4px;
}

.board_reply .reply_write .write_box textarea {
    border: 1px solid #ddd;
    overflow: auto;
}

.board_reply .write_box .char span {
    margin: 0 3px;
}

.view_area .btn_like a {
    height: 106px;
    font-size: 13px;
    margin-bottom: 30px;
}

.view_area .btn_like a span {
    font-weight: 600;
    line-height: 1.4;
}

.is-current td {
    background-color: #f1f8ff;
    font-weight: 600;
}


/* buttons */








/* banner temp */

.banner_1 {
    margin-top: 20px;
    text-align: center;
}

.banner_3 {
    margin-bottom: 20px;
}

.float-banners {
    width: 1100px;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 2;
}

.float-banners.is-scroll {
    position: fixed;
    top: 20px;
}

.float-banners.is-scroll .banner-right:first-of-type {
    display: none;
}

.float-banners.is-scroll .banner-right:last-of-type {
    top: 0;
}

.banner-center {
    font-size: 0;
    z-index: 2;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-111%);
    -webkit-transform: translateX(-111%);
    -moz-transform: translateX(-111%);
    -ms-transform: translateX(-111%);
    -o-transform: translateX(-111%);
}

.float-banners.is-scroll .banner-center {
    opacity: 0;

}

.float-banners .banner-left {
    position: absolute;
    left: -180px;
}

.float-banners .banner-right {
    position: absolute;
    right: -180px;
}

.float-banners .banner-right:last-of-type {
    top: 620px;
}

.float-banners .btn_close {
    background-color: #000;
    color: #fff;
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-block;
    width: 50px;
    height: 15px;
    text-align: center;
    font-family: arial;
    font-size: 11px;
    line-height: 15px;
    z-index: 999;
}

.tbanner_left,
.tbanner_right {
    font-size: 0;
    z-index: 4;
}



.pcast.is-970 {
    width: 970px;
}

.pcast.is-970 .board-list {
    padding: 0;
    margin-bottom: 50px;
}

.pcast.is-970+.footer-temp {
    width: 970px;
    margin: 0 auto;
}

.pcast.is-970+.footer-temp img {
    width: 100%;
}



/* fomos custom */
.most_read_talk li .num_comment {
    width: auto !important;
}

/* fomos main custom */
.wrap {
    background: none !important;
}

.top_banner {
    height: auto !important;
}

.header {
    position: static !important;
    background: url('http://www.fomos.kr/images/bg_header2.png') repeat-x 0 -100px;
    top: 190px !important;
    left: 0;
    width: 100%;
}

.header .header_wrap {
    position: relative;
    width: 1100px;
    margin: 0 auto;
}

.header h1 {
    top: 27px;
}

.header .face_api {
    top: 39px !important;
}

.gnb {
    top: 90px !important;
}

.top_link {
    top: 35px !important;
}

.sch {
    top: 102px !important;
}

.gnb .snd {
    width: 900px !important;
}

.page {
    position: static !important;
    width: 1100px;
    margin: 0 auto;
}

.recom_list em,
.most_read_talk li .num_comment {
    color: #2768cb !important;
}

.most_read_talk li a:hover span {
    border-bottom: 1px solid;
    color: #2768cb !important;
}

.footer {
    top: 0 !important;
}