@charset "utf-8";
/* Add 2018-01-11 */
.img-patch1 {display: block;height:260px;margin-bottom:30px;overflow-y:hidden;}
.img-patch2 {display: block;max-height:140px;overflow-y:hidden;}

/* qz_default */
.view_area:after {clear:both;display:block;content:"";}
.qz_horizon:after {clear:both;display:block;content:"";}

/* qz_list */
.qz_box .qz_top,.qz_list li{border-bottom:1px solid #ededed}
.qz_horizon .qz_txt, .qz_quiz .sub_tit .qz_txt{text-overflow:ellipsis;overflow:hidden;}
.qz_list .tit {text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.qz_list .etc {display:block;overflow:hidden;}

.qz_quiz,.qz_quiz .view_text{line-height:1.5}
.qz_quiz .btit{font-size:14px;font-weight:700;float:right;width:280px;overflow:hidden;text-overflow:ellipsis;margin-bottom:10px;max-height:42px;text-align:left}
.smain_article.q_quiz .para .stit{background-color:#dcc200}
.qz_quiz .para .etc{width:280px}
.qz_quiz .qz_lbl{background:#666;font-size:11px;color:#fff;padding:2px 4px;margin-right:4px}
.qz_tab li a,.qz_tab li:first-child:after{color:#666;font-size:14px;font-weight:600}
.qz_quiz .postbox .photo{height:auto !important;margin-bottom:40px}
.qz_box{padding-bottom:50px}.qz_box .qz_top{height:35px}
.qz_tab{display:block;overflow:visible;width:auto;clear:both}
.qz_tab li{float:left}.qz_tab li:first-child:after{content:'|';margin:0 5px}
.qz_tab li.active a{font-size:14px;color:#000}
.qz_quiz .btn_board .black{padding:0 17px;background:#252b36;border-radius:3px}
.qz_quiz h3 {font-size: 20px;}

.qz_list{margin-bottom:10px}
.qz_list li {margin-top:25px;padding-bottom:25px;position:relative;}
.qz_list li:after {clear:both;display:block;content:"";}
.qz_list .photo_frame{width:230px;float:left;margin-right:25px}
.qz_list .photo_frame img{width:100%;height:auto}
.qz_list .tit{width:475px;font-size:14px;color:#333;font-weight:600;margin-bottom:15px;line-height: 1.4;}

.qz_list .etc span{font-size:12px;color:#666}
.qz_list .etc .info,.qz_quiz .sub_tit .info{color:#999;display:block}
.qz_list .etc .info{margin-top:15px}
.qz_quiz h3 .qz_lbl{padding:5px 6px;vertical-align:middle}
.qz_quiz .sub_tit{margin-bottom:10px}
.qz_quiz .sub_tit .qz_txt{white-space:nowrap;word-wrap:normal;max-width:730px;height:18px;display:inline-block}
.qz_quiz .view_tip .btnset{width:150px;left:600px}.qz_quiz .view_tip .sns .qz_ko{background:url(../images/n-micon07.png) no-repeat}.qz_quiz .view_tip .sns .qz_bd{background:url(../images/n-micon08.png) no-repeat}

.qz_view{text-align:left;width:592px;margin:0 auto;margin-top:100px;}
.qz_view.first{margin-top:0;}
.qz_view .qz_img{width:100%;height:auto;margin-bottom:5px}
.qz_view .qz_img img {width:100%;}
.qz_view .qz_txt{color:#989797;font-size:12px;text-align:right;display:block;overflow: hidden;white-space:nowrap;text-overflow:ellipsis;}
.qz_answer .qz_txt{text-align:left;clear: both; height:17px}
.qz_view .qz_question{margin:10px 0 20px;line-height:1.3}
.qz_view .qz_question p.tit{font-size:18px;font-weight:600}
.qz_view .qz_question p.tit span.number {display:table-cell;background:#c0c0c0;width:20px;height:20px;margin-top:5px;}
.qz_view .qz_question p.tit span.stit {display:table-cell;background:#c0c0c0;}

.qz_view .qz_question p.cont{font-size:12px;color:#666}
.qz_view .qz_answer li{width:592px;min-height:52px;margin-bottom:5px;position:relative}
.qz_answer input[type=checkbox],.qz_answer input[type=radio]{display:none}
.qz_answer input[type=radio]+label, .qz_answer input[type=checkbox]+label{width:100%;height:52px;padding:5px 30px;box-sizing:border-box;display:table;border: 1px solid #dbdbdb;}
.qz_answer input[type=radio]+label .qz_chk,.qz_answer input[type=checkbox]+label .qz_chk{max-width: 528px;font-size:16px;color:#666;font-weight:600;cursor:pointer;position:relative;overflow:hidden;white-space:nowrap;word-wrap:normal;text-overflow:ellipsis;box-sizing:border-box;vertical-align:middle;display:table-cell}
.qz_answer.qz_imgs input[type=radio]+label,.qz_answer.qz_imgs input[type=checkbox]+label{width:486px; height:78px;border-left:none}
.qz_answer.qz_imgs input[type=radio]+label .qz_chk, .qz_answer.qz_imgs input[type=checkbox]+label .qz_chk{max-width:406px}
.qz_answer.qz_imgs .qz_imgbox{float:left;display:block;}
.qz_answer .qz_imgbox{display:none;height:78px;overflow:hidden;}
.qz_exam .qz_imgbox, .qz_poll .qz_imgbox{box-sizing: border-box;border:1px solid #dbdbdb;}

.qz_answer .qz_ansbox{box-sizing: border-box;height: 78px;}
.qz_answer.qz_imgs .qz_imgbox img{width:103px;height:78px}
.qz_answer.qz_exam input[type=radio]:checked+label,.qz_answer.qz_exam input[type=checkbox]:checked+label,.qz_answer.qz_exam li:hover input[type=radio]+label,.qz_answer.qz_exam li:hover input[type=checkbox]+label{background-color:#fffcac;border-color: #fffcac;}
.qz_answer li.qz_true input[type=radio]+label{background-color:#e9ffca; border-color:#e9ffca}
.qz_answer li.qz_false input[type=radio]+label{background-color:#ffecea; border-color:#ffecea}
.qz_answer input[type=checkbox]+label .mark{width:18px;height:18px;border:1px solid #dbdbdb;position:relative;background:#fff;margin-right:5px;float:left;vertical-align:top;display:table-cell}
.qz_answer input[type=checkbox]:checked+label .mark:after{content:'\2713';display:inline-block;font-size:18px;position:absolute;top:-3px;left:2px}
.qz_view p.qz_vote{font-size:12px;color:#424242;text-align:right;font-weight:600}
.qz_view .qz_progress{height:100%}
.qz_view .qz_bar{display:table;height:100%;background:#fffddf}
.qz_view .qz_own .qz_bar{background:#fffcac}
.qz_view .qz_answer .vote_txt{position:absolute;top:0;width:100%;min-height:52px;padding:0 30px;box-sizing:border-box;display:table;border:1px solid #dbdbdb}
.qz_view .qz_percent,.qz_view .vote_txt .qz_chk{font-size:16px;display:table-cell;vertical-align:middle;font-weight:600}
.qz_view .vote_txt .qz_chk{color:#666}
.qz_view .qz_percent{color:#424242;text-align:right}
.qz_answer.qz_imgs .qz_pbox{width:485px;height:78px;display:table}
.qz_answer .qz_pbox.clear{height: 52px;}
.qz_answer.qz_imgs .qz_pbox .vote_txt{width:485px;height: 78px;border-left:none}
.qz_horizon.qz_imgs li>.qz_percent{display:block;text-align:center;}
.qz_correct{background:#f5f5f5;width:528px;min-height:147px;padding:30px;margin-top:10px}
.qz_correct img{width:220px;height:128px}
.qz_correct_img{width:220px;height:auto;float:left;margin-right:20px}
.qz_correct .count{float:right;font-size:12px;color:#424242;font-weight:600}
.qz_correct .info{font-size:12px;color:#666}
.qz_correct .qz_correct_txt{line-height:1.3;min-height: 130px;}
.qz_correct .qz_correct_txt .mark{display:inline-block;margin-right:10px;width:27px;height:27px;vertical-align:middle}
.qz_correct .qz_true .tit{color:#65ab00;font-weight:600}
.qz_correct .qz_false .tit{color:#e8570f;font-weight:600}
.qz_correct .qz_true .mark{background:url(../images/n-micon10.png) no-repeat}
.qz_correct .qz_false .mark{background:url(../images/n-micon09.png) no-repeat}
.qz_view .qz_horizon{min-height:215px}
.qz_view .qz_horizon li{width:142px;height:210px;margin-right:5px;float:left}
.qz_view .qz_horizon li:last-child{margin-right:0}
.qz_view .qz_horizon .qz_ansbox{height:100px}
.qz_horizon.qz_imgs .qz_imgbox{height:109px;float:none;border:1px solid #dbdbdb;border-bottom:none;}
.qz_horizon.qz_imgs .qz_imgbox img{width:100%;height:109px}
.qz_horizon.qz_imgs input[type=radio]+label,.qz_horizon.qz_imgs input[type=checkbox]+label{width:100%;height:100px;padding:10px 15px;border: 1px solid #dbdbdb;}
.qz_horizon.qz_imgs input[type=radio]+label .qz_chk,.qz_horizon.qz_imgs input[type=checkbox]+label .qz_chk{line-height:1.27;display:inline-block;white-space:normal;max-height:60px}
.qz_horizon.qz_imgs input[type=radio]+label .qz_txt,.qz_horizon.qz_imgs input[type=checkbox]+label .qz_txt{width:100px}
.qz_horizon.qz_imgs input[type=checkbox]+label>.mark{margin-left:15px}
.qz_poll .vote_txt .qz_chk{max-width:492px;overflow: hidden;white-space: nowrap;word-wrap: normal;text-overflow: ellipsis;box-sizing: border-box;}
.qz_poll.qz_imgs .vote_txt .qz_chk{max-width: 388px}
.qz_poll.qz_horizon ul{display:inline-block}
.qz_poll.qz_horizon .qz_imgbox{box-sizing:border-box; width:142px;border:1px solid #dbdbdb;border-bottom:none;}
.qz_exam.qz_horizon .qz_imgbox{box-sizing:border-box; width:142px;border:1px solid #dbdbdb;border-bottom:none;}

.qz_poll.qz_horizon li{height:240px;border:none;margin-right:6px}
.qz_poll.qz_horizon .qz_pbox{width:142px;height:100px;box-sizing:border-box;border-top:none;display:inline-block;}
.qz_poll.qz_horizon .qz_pbox .vote_txt{width:142px;height:100px;top:109px;padding: 10px 15px;border-left:1px solid #dbdbdb}
.qz_poll.qz_horizon .vote_txt .qz_chk{display:inline-block;max-width:100px;max-height:60px;white-space: pre-line;line-height: 1.27;}
.qz_share{text-align:center;margin-top:40px;font-size:12px}
.qz_share>a{display:block;width:224px;height:45px;margin:5px auto 0;border-radius:35px;line-height:45px;font-size:14px;font-weight:600}
.qz_share>a .mark{width:25px;height:22px;display:inline-block;margin-right:5px}
.qz_share .qz_fa{color:#fff;background-color:#2e5796;margin-top:13px}
.qz_share .qz_fa .mark{background:url(../images/n-micon12.png) no-repeat;vertical-align:sub}
.qz_share .qz_ka{color:#644848;background-color:#ffe800}
.qz_share .qz_ka .mark{vertical-align:middle;background:url(../images/n-micon11.png) no-repeat}

/*QUIZ WRITE*/
.qz_cont .clear_f {display: block; overflow: visible; width: auto; clear: both; margin-top:10px;}
.qz_cont .clear_f:after { display: block; visibility: hidden; height: 0; font-size: 0; clear: both;  content: ''}

.qz_cont table label{color:#333; margin-left:5px; margin-right:10px; font-weight: 600;}
.qz_cont .line{margin-bottom: 15px;}
.qz_cont .board_write th{text-align:center; padding:0}
.qz_cont .board_write td{padding: 15px 0; padding-left: 20px;}
.qz_cont .box{border:1px solid #ededed; padding:10px;}
.qz_cont .box .nums{width: 43px; height: 43px; background: #333; color: #fff; font-size: 16px; text-align: center; display: inline-block;  font-style: normal; font-weight: 600; vertical-align: middle; padding-top: 13px; line-height: 1; box-sizing:border-box;}
.qz_cont .box_input2 {margin-top:20px;}
.qz_cont .box_input .con_file{width:230px; height:145px; position:relative; float:left; margin-right:10px;}
.qz_cont .box_input input[type="file"]{position: absolute;top:0; width:230px; height:145px; right:0; opacity: 0; cursor:pointer;display: inline-block;}
.qz_cont .box_input .lbl_file{width:230px; height:145px; background: #f9f9f9; text-align: center; vertical-align: middle; position: relative; z-index: 3; display: inline-block; padding-top:53px; box-sizing: border-box; line-height: 1.7; border:1px solid #d8d8d8; color:#666}

.qz_cont .box_input .con_txt{width:468px; height:145px; overflow: hidden;}
.qz_cont .con_txt input[type="text"], .qz_cont .con_txt textarea{width:465px; background:#fff; border:1px solid #d8d8d8; color:#777; box-sizing: border-box;}
.qz_cont .con_txt input[type="text"]{height:30px; padding:3px;}
.qz_cont .con_txt textarea{margin:7px 0; vertical-align: middle; padding: 3px; height: 71px;}
.qz_cont input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #777}
.qz_cont input[type="text"]::-moz-placeholder, textarea::-moz-placeholder {color: #777}
.qz_cont input[type="text"]:-ms-input-placeholder, textarea:-ms-input-placeholder {color: #777}
.qz_cont input[type="text"]:-moz-placeholder, textarea:-moz-placeholder { color: #777 }

.qz_cont .box_cont{border-top:0 none;}
.qz_cont .box_input_lg{width:585px; margin:0 auto;}
.qz_cont .box_input_lg .con_file{width:100%; height:370px; position:relative; margin:0 auto;}
.qz_cont .box_input_lg input[type="file"]{position: absolute;top:0; width:100%; height:370px; right:0; opacity: 0; cursor:pointer;display: inline-block;}
.qz_cont .box_input_lg .lbl_file{width:100%; height:370px; margin:0 auto; background:#f9f9f9; text-align: center; vertical-align: middle; position: relative;z-index: 3; line-height:1.7; border:1px solid #d8d8d8; color:#666; box-sizing:border-box; padding-top:160px;}
.qz_cont .box_input_lg input[type="text"], .qz_cont .box_input_lg textarea{width:100%; margin:0}

.qz_cont .box_input_lg .txt_copy{background:#fff url(../images/qz_txt.png) no-repeat center;}
.qz_cont .box_input_lg .txt_copy:active,.qz_cont .box_input_lg .txt_copy:focus,.qz_cont .box_input_lg .txt_copy.focus{background:#fff;}

.qz_cont .qz_layout{text-align: center; border-top:0 none; }
.qz_cont .qz_layout .con_btns{padding:8px 0; padding-bottom:18px;}
.qz_cont .qz_layout li{position: relative;}

.qz_cont .qz_layout [class*="ul_layout"]{display:none}
.qz_layout .ul_layout01,.qz_layout .ul_layout02 {padding-right:25px;}

.qz_layout .ul_layout01 .add-plus {padding-left:57px;}
.qz_layout .ul_layout02 .add-plus {padding-left:55px;}
.qz_layout .con_result{display: inline-block; min-width:53px; text-align: left;}
.qz_layout .con_btns .btns{margin-top:10px;}
.qz_layout .btns button{background:#fff; border:0 none; outline:none; cursor: pointer;}

.qz_layout li:first-child .lbl_result{display: inline-block;}
.qz_layout .lbl_result{color:#333; margin:0 5px; font-weight: 600; display:none}
.qz_layout .ul_layout01 input[type="text"]{width:625px; height:40px; padding:8px 15px; box-sizing: border-box; margin-bottom: 5px}

.qz_layout .ul_layout02 li{margin-bottom:5px;}
.qz_layout .ul_layout02 .con_file{width:103px; height:78px; position: relative; display: inline-block;}
.qz_layout .ul_layout02 input[type="file"]{position: absolute;top:0; width:103px; height:78px; right:0; opacity: 0; cursor:pointer; display: inline-block;}
.qz_layout .ul_layout02 .lbl_file{width:103px; height:78px;background:#f9f9f9; text-align: center; vertical-align: middle; position: relative;z-index: 3; line-height:1.7; border:1px solid #d8d8d8; color:#666; box-sizing:border-box; padding-top: 18px;}
.ul_layout02 .con_txt{width:511px; display: inline-block;vertical-align: top}
.ul_layout02 .con_txt input[type="text"]{padding-left:10px; width:100%}
.ul_layout02 input[type="text"].txt_choice{height:43px; margin-bottom:5px;}
.ul_layout02 button.input_plus{width:620px}

.qz_layout .ul_layout03{margin:0 auto; width:593px}
.qz_layout .ul_layout03 li{width:145px; float:left; margin-right:3px;margin-top:5px;}
.qz_layout .ul_layout03 li:last-child{margin-right:0}
.qz_layout .ul_layout03 .con_file{width:143px; height:110px; position: relative; display: inline-block;}
.qz_layout .ul_layout03 input[type="file"]{position: absolute;top:0; width:143px; height:110px;  right:0; opacity: 0; cursor:pointer; display: inline-block;}
.qz_layout .ul_layout03 .lbl_file{width:143px; height:110px; background:#f9f9f9; text-align: center; vertical-align: middle; position: relative;z-index: 3; line-height:1.7; border:1px solid #d8d8d8; color:#666; box-sizing:border-box; padding-top: 34px;}
.ul_layout03 .box_rdo{margin-bottom:5px; text-align: left; height:16px}
.ul_layout03 .con_txt{width:143px; display: inline-block;vertical-align: top}
.ul_layout03 .con_txt textarea{width:100%; margin-top:3px; margin-bottom:0; height:37px;}
.ul_layout03 textarea.txt_choice{height:88px;}
.qz_layout .ul_layout03 button.input_plus{width:588px !important; margin-top:10px;}
.qz_layout .ul_layout03 button.btn_close{top:8px; right:0}

.qz_layout button.input_plus{width:625px; background:#fff; border:1px solid #333; text-align: center; padding:10px 0; cursor: pointer;}
.qz_layout button.btn_close{width:17px; height:17px;background:#fff;border:0 none; cursor: pointer; outline:none; position: absolute; right: -22px; top:50%; margin-top:-8px; line-height: 1}
.qz_cont button.qz_plus{width:100%; height:45px; background:#000; color:#fff; text-align: center; border:0 none;cursor: pointer; margin:15px 0; font-size:14px; line-height: 1; font-weight:600}
.qz_cont .btn_board .black_lg{width:103px; background: url(../images/bbtn_black_lg.png) no-repeat 0 0;color: #fff;}
.black_lg2{width:70px; background: url(../images/bbtn_black.png) no-repeat 0 0;color: #fff;}
.btn_board-new {text-align:right;padding:3px 0;}
.btn_board-new2 {width:683px;text-align:right;padding:3px 0;}

.qz_cont label[for="chk_mul"]{vertical-align: baseline; margin-right:5px}

.qz_layout .qz_poll li:last-child{padding-left:0}
.qz_layout .qz_poll input[type="text"]{width:100%}
.qz_layout .qz_poll button.input_plus{width:100%}
.qz_poll .ul_layout02 .con_txt {width:570px;}
.qz_poll .ul_layout02 button.input_plus{ width:678px}

/* Mypage */
.my_page h3.bul.orange {background:url(../images/bul05.png) no-repeat 0 50%;}
.orange{color:#966d22 !important}
.my_page h3.bul.dgray {background:url(../images/bul06.png) no-repeat 0 50%;}
.dgray{color:#484848 !important}
.my_page h3.bul.gray {background:url(../images/bul07.png) no-repeat 0 50%;}
.gray{color:#787878 !important}

.my_page .qz_list li:first-child{margin-top:0; border-top:1px solid #ededed; padding-top:25px}
.my_page .qz_lbl{background:#666;font-size:11px;color:#fff;padding:2px 4px;margin-right:4px}

.qz_layout button.on img.on{display: inline-block !important;}
.qz_layout button.on img.off{display: none}


