html, body{
	margin: 0;
	padding: 0;
}
.footer_wrap{
	height:200px;
	background-color: #585858;
}
.footer_cont_wrap{
	width:1280px;
	margin: 0 auto;
	text-align: center;
}
.footer_img{
	height:115px;
}
.footer_img img{
	margin: 35px 0;
}
.footer_text{
	color:#e2e2e2;
	font-size: 11px;
	line-height: 24px;
}